@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', sans-serif;
}


body {
    /* background image code taken from https://miker94.github.io/CI-Project-Portfolio-2/ */
    background: url(../images/mythology-img.png) no-repeat center center fixed;
    background-size: cover;
}

/* game area */

/* ADDED FROM JS */
/* hides screens that are not needed untill called */

header {
    margin: 10px 0 0 20px;
}

/* game-panel */

header,
#home-btn {
    display: flex;
}

.panel-element {
    display: flex
}


#game-panel {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #e3a857;
    margin-top: 5px;
}

.game-panel-containers {
    display: flex;
    margin-right: 20px;
}

/* game panel icons*/

.hide {
    display: none;
}

.hide-home {
    display: none;
}

.hide-game {
    display: none;
}

h1 {
    font-style: italic;
    font-size: 3rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
    color: #FAFAD2;
}

h2 {
    background-color: #e3a857;
    color: #380456;
    margin: 0 10px;
    font-size: 1.3rem;
}

#home-container,
#game-screen-container,
#end-game-container {
    height: 560px;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#home-container {
    display: flex;
}

#home-screen {
    justify-content: space-evenly;
}

#game-screen,
#home-screen,
#end-screen {
    /* background-color:rgba(227, 169, 87, 0.800);*/
    background-color: #e3a857;
    /* really like this but not sure about accessability 
    background-color: rgba(224, 199, 199, 0.28);*/
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3%;
    box-shadow: inset 0 0 13px 3px;
    padding: 18px;
}

#home-screen,
#end-screen {
    height: 90%;
}

#game-screen {
    display: flex;
    height: 100%;

}

#end-screen {
    justify-content: space-around;
}

/* initial start screen*/

.name-area>li {
    display: flex;
    flex-direction: column;
}

.name-area {
    /*
   This needs to turn off when we go to game screen 
    display: flex; */
    margin: 10px 10px 40px;
    list-style: none;
}

input {
    background-color: #FAFAD2;
    color: #6E6259;

}

.label {
    background-color: #e3a857;
    color: #380456;
    font-size: 1.5rem;
    margin: 0 0 10px;
}

button {
    font-size: 1.1rem;
    /* was 1.5 but doesnt fit the hard categories*/
    margin-bottom: 3%;
    padding: 10px;
    background-color: #6E6259;
    color: #FAFAD2;
}

/* !!!!! THIS KEEPS FUCKING UP MY GRID FOR BUTTONS */
#button-container {
    display: flex;
    flex-direction: column;
}


/*HTML DROPDOWN STYLE */
/*DOES NOT WORK */
.dropdown {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    color: #380456;
    margin-bottom: 30px;
}

#select {
    background-color: #FAFAD2;
    color: #380456;
}




/* game panel containers - to style icon and info beside
 each other but still spaced out on screen */




h3 {
    background-color: #e3a857;
    color: #301934;
    margin: 10px;
    display: flex;
    justify-content: center;

}

/* questions and answers screen */
.q-and-a-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #380456;

}

/* next button */

#next {
    margin: 5px auto;
    background-color: #6E6259;
    color: #FAFAD2;

    /* THIS IS NOT RESPONSIVE NEED TO FIX*/
    /*position: fixed;
    bottom: 136px;
    right: 120px;
    */
}

#next-container {
    display: flex;

}

#venus {
    width: 85%;
}

#oedipus {
    width: 55%;
}

#perseus {
    width: 55%;
}

/* media queries for all screens more than iphone */
/* breakpoints taken from my last project. playing in dev tools to get the right balance

/* for screens that are 481px or above*/
@media screen and (min-width: 30em) {
    header {
        font-size: 1.3rem;
        margin: 15px 3px 9px 45px;
    }

}

@media screen and (min-width: 30em) {
    button {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 30em) {
    .game-panel-containers {
        margin-right: 40px;
    }
}

/* GAP DOES SOMETING WEIRD IF I INSCREASE ITS NOT EVEN
    }
}

@media screen and (min-width: 30em) {
    select {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 30em) {
    .game-panel-containers {
        margin-right: 40px;
    }
}  */


@media screen and (min-width: 30em) {
    #perseus {
    width: 40%;
}
}

@media screen and (min-width: 30em) {
    #oedipus {
        width: 40%;
    }
}


/* EXTRA BREAKPOINT FOR THESE IMAGES */
@media screen and (min-width: 40em) {
    #perseus {
        width: 30%;
    }
}


@media screen and (min-width: 40em) {
    #oedipus {
        width: 30%;
    }
}
/* for screens that are 769px or above*/

@media screen and (min-width: 48em) {
    header {
        font-size: 1.3rem;
        margin: 15px 3px 9px 100px;
    }

}
@media screen and (min-width: 48em) {
    #button-container {
        display: grid;
        grid-template-columns: 50% auto;
        gap: 10px;
        align-content: space-evenly;
        align-items: center;
        margin-top: 20px;
    }
}

@media screen and (min-width: 48em) {
    #q-and-a-container {
        width: 90%;
    }
}

@media screen and (min-width: 48em) {
    #game-panel {
        margin-left: 105px;
    }
}
@media screen and (min-width: 48em) {
    .game-panel-containers {
        margin-right: 100px;
    }
}


@media screen and (min-width: 48em) {
    h1 {
        font-size: 4rem;      
}
}

@media screen and (min-width: 48em) {
    h2 {
        font-size: 2rem;      
}
}

@media screen and (min-width: 48em) {
    #venus {
        width: 55%;
    }
}


@media screen and (min-width: 48em) {
    #perseus {
        width: 20%;
    }
}

@media screen and (min-width: 48em) {
    #oedipus {
        width: 20%;
    }
}

/*
.label {
    margin-right: 20px
}

h2 {
    font-size: 

initial grid tests for q@A aread
    grid-template-columns: 50% auto;
    grid-template-areas: "question"
    "a" "b"
    "c" "d"
    "next";

    DO I STILL NEED THE NEXT BUTTON CONTAINER IF I USE GRID?
*/